*{
    font-family: 'Verdana',sans-serif;
}
.container{
    background: linear-gradient(white, steelblue);
    border-radius:3px;
    box-shadow: 2px 2px gray;
    max-width: 50%;
    margin-top:15px;
}
.row{
    text-align: center
}
.head.form{
    display:block;
}
.head{
    padding:10px;
}
.form{
    border-radius: 2px;
    padding:15px;
    margin:10px;
    
}
.btn{
    margin:5px;
}