<div class="head">
  <H1>Seattle Parking Guide</H1>
</div>
<div class="form">
  <h3>Where are you heading?</h3>
  <form (submit)="onSubmit()">
    <label for="area">Area</label>
    <select name="area" [(ngModel)]="location.area">
      <option> - </option>
      <option value="12th Ave 2017 Annual Study">12th Ave</option>
      <option value="Ballard">Ballard</option>
      <option value="Ballard Locks Spring 2017">Ballard Locks - Spring</option>
      <option value="Ballard Locks Summer">Ballard Locks - Summer</option>
      <option value="Belltown">Belltown</option>
      <option value="Capitol Hill">Capitol Hill</option>
      <option value="Cherry Hill">Cherry Hill</option>
      <option value="Chinatown ID 2017">Chinatown</option>
      <option value="Commercial Core Financial">Commercial Core - Financial</option>
      <option value="Commercial Core Retail">Commercial Core - Retail</option>
      <option value="Commercial Core Waterfront">Commercial Core - Waterfront</option>
      <option value="Denny Triangle North - 2017">Denny Triangle - North</option>
      <option value="Denny Triangle South - 2017">Denny Triangle - South</option>
      <option value="First Hill">First Hill</option>
      <option value="Freemont">Freemont</option>
      <option value="Green Lake">Green Lake</option>
      <option value="Lake City">Lake City</option>
      <option value="Pike-Pine">Pike-Pine</option>
      <option value="Pioneer Square 2017">Pioneer Square</option>
      <option value="Roosevelt">Roosevelt</option>
      <option value="SODO">SODO</option>
      <option value="South Lake Union">South Lake Union</option>
      <option value="University District">University District</option>
      <option value="Uptown">Uptown</option>
      <option value="Uptown - Sunday">Uptown - Sunday</option>
      <option value="Uptown Triangle">Uptown Triangle</option>
      <option value="West Seattle">West Seattle</option>
      <option value="Westlake">Westlake</option>
    </select>
    <label for="street">Street:</label>
    <select name="street" [(ngModel)]="location.street" *ngFor="let st of location.area"> //disable if no location.area
      <option value="{{st.unitdesc}}">{{st.unitdesc}}</option>
    </select>
    <label for="time">Time:</label>
    <select name="time" [(ngModel)]="location.time">
      <option value="8:00 AM">8:00 AM</option>
    </select>
    <input type="submit" value="go">
  </form>
</div>
<div class="answer">

</div>
