<div class="container">
  <div class="row justify-content-center">
    <div class="head">
      <H1 class="display-4">Seattle Parking Guide</H1>
      <hr>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="!isAnswer()">
    <div class="form">
      <h3 class="display-5">Where are you heading?</h3>
      <form (submit)="getArea()">
        <select class="form-control" id="Area" [(ngModel)]="userArea.area" name="area">
          <option> - </option>
          <option value="Ballard">Ballard</option>
          <option value="Ballard Locks Spring 2017">Ballard Locks - Spring</option>
          <option value="Ballard Locks Summer">Ballard Locks - Summer</option>
          <option value="Belltown">Belltown</option>
          <option value="Capitol Hill">Capitol Hill</option>
          <option value="Cherry Hill">Cherry Hill</option>
          <option value="Chinatown ID 2017">Chinatown</option>
          <option value="Commercial Core Financial">Commercial Core - Financial</option>
          <option value="Commercial Core Retail">Commercial Core - Retail</option>
          <option value="Commercial Core Waterfront">Commercial Core - Waterfront</option>
          <option value="Denny Triangle North - 2017">Denny Triangle - North</option>
          <option value="Denny Triangle South - 2017">Denny Triangle - South</option>
          <option value="First Hill">First Hill</option>
          <option value="Freemont">Freemont</option>
          <option value="Green Lake">Green Lake</option>
          <option value="Lake City">Lake City</option>
          <option value="Pike-Pine">Pike-Pine</option>
          <option value="Pioneer Square 2017">Pioneer Square</option>
          <option value="Roosevelt">Roosevelt</option>
          <option value="12th Ave 2017 Annual Study">Seattle University</option>
          <option value="SODO">SODO</option>
          <option value="South Lake Union">South Lake Union</option>
          <option value="University District">University District</option>
          <option value="Uptown">Uptown</option>
          <option value="Uptown - Sunday">Uptown - Sunday</option>
          <option value="Uptown Triangle">Uptown Triangle</option>
          <option value="West Seattle">West Seattle</option>
          <option value="Westlake">Westlake</option>
        </select>
        <input type="submit" class="btn btn-primary" value="go">
      </form>
    </div><!--end form 1-->
  </div>
  <div class="row justify-content-center" *ngIf="!isAnswer()">
    <div class="form" *ngIf="areaStreets.length > 0"><!--form2-->
      <h2 id="areaTitle">{{areaStreets[0]['study_area']}}</h2>
      <hr>
      <form (submit)="findParking()">
        <h4 *ngIf="errMsg.length > 0" class="error display-5">{{errMsg}}</h4>
        <h3 class="display-5">Street</h3>
        <select class="form-control" id="street" [(ngModel)]="area.street" name="street" >
          <option *ngFor="let st of areaStreets" value="{{st.unitdesc}}">{{st.side}} side of {{st.unitdesc}}</option>
        </select>
        <h3 class="display-5">Time:</h3>
        <select class="form-control" id="street" [(ngModel)]="area.time" name="time">
          <option> - </option>
          <option value="8:00 AM">8:00 AM</option>
          <option value="9:00 AM">9:00 AM</option>
          <option value="10:00 AM">10:00 AM</option>
          <option value="11:00 AM">11:00 AM</option>
          <option value="12:00 PM">12:00 PM</option>
          <option value="1:00 PM">1:00 PM</option>
          <option value="2:00 PM">2:00 PM</option>
          <option value="3:00 PM">3:00 PM</option>
          <option value="4:00 PM">4:00 PM</option>
          <option value="5:00 PM">5:00 PM</option>
          <option value="6:00 PM">6:00 PM</option>
          <option value="7:00 PM">7:00 PM</option>
          <option value="8:00 PM">8:00 PM</option>
          <option value="9:00 PM">9:00 PM</option>
          <option value="10:00 PM">10:00 PM</option>
        </select>
        <input type="submit" class="btn btn-primary btn-block" value="go">
        <a class="btn btn-info btn-block" href="/">Reset</a>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col s4">
      <div class="answer" *ngIf="finalString.length > 0">
        <h2 class="display-5">Availability</h2>
        <hr>
        <h3>{{parkingSpots[0]['study_area']}}</h3>
        <h4>{{finalString}}</h4>
        <a class="btn btn-info btn-block" href="/">Reset</a>
      </div>
    </div>
  </div>
  <!--row-->
</div>
<!--container-->