*{
    font-family: 'Verdana',sans-serif;
}
.container{
    background: linear-gradient(white, steelblue);
    border-radius:3px;
    /* box-shadow: 2px 2px gray; */
    max-width: 50%;
    margin-top:15px;
}
.row{
    text-align: center
}
.head.form{
    display:block;
}
.head{
    padding:10px;
}
.form{
    border-radius: 2px;
    padding:15px;
    
}
.btn{
    margin:5px;
}
.btn-primary{
    margin:5px;
    background: linear-gradient(#007aff, #0661c2a2);
    border:none;
}
.btn-info{
    margin:5px;
    background: linear-gradient(#18a2b9, #0f869bbd);
    border:none;
}
#areaTitle{
    margin-bottom:15px;
}
.answer{
    color:white;
    margin:5px;
    padding:2px;
}
.error{
    color:red;
}